* {
  padding: 0;
  margin: 0;
  background-color: #17bebb;
  height: 100%;
  font-size: 100%;
  font-family: Arial;
}

.title{
  font-size: 30px;
  font-weight: lighter !important;
  color: white;
}

.loginBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sizeFix {
  height: fit-content;
  padding: 10px 0px;
  margin-top: 10px;
  text-align: center;
}

input{
  width: 220px;
  background-color: #abdbda;
  border: 1px solid white;
  border-radius: 5px;
}

.btn{
  width: 224px;
  background-color: white;
  border: 1px solid #17bebb;
  border-radius: 5px;
  color: #17bebb;
  font-size: 18px;
}

.btnHover{
  width: 224px;
  background-color: black;
  border: 1px solid #17bebb;
  border-radius: 5px;
  color: #17bebb;
  font-size: 18px;
}


